
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    margin: 0;
    height: 100vh;
    margin-bottom: 0px;
    font-family: "NeueHaasGrotDisp55Roman";
}

@font-face {
    font-family: "NeueHaasGrotDisp55Roman";
    src: local("NeueHaasGrotDisp55Roman"),
      url("../src/assets/NeueHaasGrotDisp55Roman.otf") format("truetype");
  }

  @font-face {
    font-family: "NeueHaasGrotDisp65Medium";
    src: local("NeueHaasGrotDisp65Medium"),
      url("../src/assets/NeueHaasGrotDisp65Medium.otf") format("truetype");
  }


.firefenix-F {
  animation: color-change-F 0.15s infinite;
}
.firefenix-I {
  animation: color-change-I 0.15s infinite;
}

.firefenix-R {
  animation: color-change-R 0.15s infinite;
}

.firefenix-E {
  animation: color-change-R 0.15s infinite;
}

@keyframes color-change-I {
  0% { color: red; }
  33% { color: lightskyblue; }
  66% { color: yellow; }
  100% { color: red; }
}

@-webkit-keyframes color-change-I {
  0% { color: red; }
  33% { color: lightskyblue; }
  66% { color: yellow; }
  100% { color: red; }
}

@keyframes color-change-F {
  0% { color: violet; }
  33% { color: green; }
  66% { color: yellow; }
  100% { color: violet; }
}

@-webkit-keyframes color-change-F {
  0% { color: violet; }
  33% { color: green; }
  66% { color: yellow; }
  100% { color: violet; }
}

@keyframes color-change-R {
  0% { color: yellow; }
  33% { color: blue; }
  66% { color: pink; }
  100% { color: yellow; }
}

@-webkit-keyframes color-change-R {
  0% { color: yellow; }
  33% { color: blue; }
  66% { color: pink; }
  100% { color: yellow; }
}


@keyframes color-change-E {
  0% { color: green; }
  33% { color: lightskyblue; }
  66% { color: darkorange; }
  100% { color: green; }
}

@-webkit-keyframes color-change-E {
  0% { color: green; }
  33% { color: lightskyblue; }
  66% { color: darkorange; }
  100% { color: green; }
}


