
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    margin: 0;
    height: 100vh;
    margin-bottom: 0px;
    font-family: "NeueHaasGrotDisp55Roman";
}

@font-face {
    font-family: "NeueHaasGrotDisp55Roman";
    src: local("NeueHaasGrotDisp55Roman"),
      url("../src/assets/NeueHaasGrotDisp55Roman.otf") format("truetype");
  }

  @font-face {
    font-family: "NeueHaasGrotDisp65Medium";
    src: local("NeueHaasGrotDisp65Medium"),
      url("../src/assets/NeueHaasGrotDisp65Medium.otf") format("truetype");
  }




  